.grid-container {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-rows: repeat(3, auto);
	gap: 0.2rem;
	font-size: 0.8rem;
	width: fit-content;
}

.grid-item {
	padding: 0.2rem 0.5rem;
	border: 1px solid #ccc;
	text-align: right;
}

.grid-item.title {
	font-weight: bold;
	background-color: #f0f0f0;
}
